<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @minor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @minor.description %>
</p>

<p>
  <strong>Enter text:</strong>
  <%= @minor.enter_text %>
</p>

<p>
  <strong>Exit text:</strong>
  <%= @minor.exit_text %>
</p>

<p>
  <strong>Major:</strong>
  <%= @minor.major_id %>
</p>

<%= link_to 'Edit', edit_minor_path(@minor) %> |
<%= link_to 'Back', minors_path %>
