<% if user_signed_in? %>
	<div class="admin-bar p-1 px-md-4 border-bottom">
		<div class="row">
			<div class="col-md-12 text-right">

				<small>Signed is as: <strong><%= current_user.email %></strong></small>
				
				<a class="btn btn-admin btn-sm ml-2" href="#" role="button" id="admin_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class='fas fa-cog'></i>
				</a>

				<div class="dropdown-menu" aria-labelledby="admin_menu">
					<%= link_to "Users", users_path, class: "dropdown-item" %>
					<%= link_to "Accounts", accounts_path, class: "dropdown-item" %>
					
					<%= link_to "Beacons", beacons_path, class: "dropdown-item" %>
					<%= link_to "Majors", majors_path, class: "dropdown-item" %>
					<%= link_to "Minors", minors_path, class: "dropdown-item" %>
				</div>

			</div>
		</div>
	</div>
<% end %>
