<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jon Williams, Dave Bond and Zvi Ehrman">
    <title>Notify</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="masthead mb-auto">
    <div class="inner"></div>
  </header>

  <main role="main" class="inner cover">
    <%= image_tag "logo_med.png", class: "img-fluid mb-5" %>
    <h2 class="cover-heading text-muted">Coming soon</h2>    
    <p class="lead">Exhibitors can be hard to find due to the size of an event or venue. And it is even harder to find specific exhibitor at an event if you don’t know where they are or that they even exist.
Navigation is important, especially for large venues, and Notify solves this problem using indoor positioning systems which show your current location on our specially created App on your Smartphone as well as the location of the Exhibitor or Session you’re trying to find.</p>


  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>some footer text ... </p>
    </div>
  </footer>
</div>
</body>
</html>
